// / { ... }; opens root node of the hardware tree

/ {
    // User node maps abstract logical channels to the C application
    zephyr,user {

        /* This creates an array of hardware pointers.
        &adc: A pointer reference to the actual ADC hardware block on the nRF52 chip.
        0: The channel index ID (the logical channel number inside that ADC block). */

        io-channels = <&adc 1>, <&adc 2>, <&adc 3>, <&adc 4>;
    };

    pwm_motor {
        compatible = "pwm-leds";
        my_pwm_node: pwm_node_0 {
            /* Wires this virtual LED to the physical hardware &pwm0, channel 0 */
            pwms = <&pwm0 0 PWM_HZ(1000) PWM_POLARITY_NORMAL>;
        };
    };

    buttons{
        compatible = "gpio-keys";

        sel_1: input_pin_1{
            gpios = <&gpio1 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Sel 1 for Joystick 1 (Left)";
        };


        sel_2: input_pin_2{
            gpios = <&gpio1 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Sel 2 for Joystick 2 (Right)";
        };
    };

};

// Pinctrl states are defined outside the root node, targeting the global pinctrl block

&pinctrl {
    pwm0_default: pwm0_default {
        group1 {
            /* Example: Routing PWM channel 0 to Pin P0.13 */
            psels = <NRF_PSEL(PWM_OUT0, 0, 13)>;
        };
    };
};

/* The nRF52 internal reference is 0.6V. Choosing a gain of ADC_GAIN_1_6 allows to safely measure an input range of 0V up to 3.6V (0.6V × 6).*/

// Configure the ADCs
&adc {
    status = "okay";

    // Following two are mandatory whenever a Devicetree node contains child nodes that use the reg property (like channel@0 and channel@1)
    #address-cells = <1>;
    #size-cells = <0>;

    // reg matches the node address index

    channel@1{
        reg = <1>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL"; // internal reference of 0.6 V
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN1>; //SAADC stands for Successive Approximation ADC
        zephyr,resolution = <12>; // ADC resolution is 12 bit
    };

    channel@2{
        reg = <2>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL"; // internal reference of 0.6 V
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN2>; //SAADC stands for Successive Approximation ADC
        zephyr,resolution = <12>; // ADC resolution is 12 bit
    };

    channel@3{
        reg = <3>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL"; // internal reference of 0.6 V
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN3>; //SAADC stands for Successive Approximation ADC
        zephyr,resolution = <12>; // ADC resolution is 12 bit
    };

    channel@4{
        reg = <4>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL"; // internal reference of 0.6 V
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN4>; //SAADC stands for Successive Approximation ADC
        zephyr,resolution = <12>; // ADC resolution is 12 bit
    };

};

/*
The number after the @ symbol (and inside the reg property) specifies the hardware address of the device on that specific bus.
*/

&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-names = "default";
    /delete-property/ pinctrl-1;
};
